

html {
    font-size: 62.5%;
}

body {
    background-color: #dddddd;
    margin: 0rem;
    padding: 0rem;
    display: grid;
}

#theTitle {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    vertical-align: top;
    padding: 1rem 0rem 0rem 0rem;
    margin: 0rem;
    font-size: 8rem;
}

p {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0rem 0rem 1rem;
    margin: 0rem;
    font-size: 1.2rem;
    transition-duration: 2s;
}

#box1, #box2, #box3 {
    min-height: 22rem;
    height: 28%;
    width: 24%;
    min-width: 20rem;
    max-width: 24.5rem;
    background-color: black;
    border-color: gray;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: 4px solid rgb(82, 82, 82);
    transform: translateX(-180%);
    flex-direction: row;
    transition-duration: 0.3s;
    order: 1;
}

#box2 {
    background-color: green;
    transform: translateX(-50%);
    order: 2;
}

#box3 {
    transform: translateX(80%);
    order: 3;
}

.container {
    margin: 2rem auto 1rem auto;
    height: 30rem;
    max-width: 90rem;
}

button {
    width: 9rem;
    height: 4rem;
    font-size: 1.5rem;
    margin: auto;
    border: 2px solid black;
}

#restart {
    margin: 0rem 0rem 0rem 5rem;
}

#invis {
    margin: 0rem 5rem 0rem 0rem;
    opacity: 0;
}

.btncontainer {
    margin: 0px auto 1rem auto;
}



output {
    margin: 10px auto;
    border: 2px solid black;
    opacity: 0;
    font-size: 80px;
}

.transition {
    transition-duration: 1s;
    transform: translateY(30rem);
    transition-timing-function: cubic-bezier(.54,-0.57,1,.7);
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
