
*, * ::before, * ::after {box-sizing: border-box;}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

#theTitle {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 8vw;
}

#Explanation {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2vw;
}

div.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    background-color: #dddddd;
}

div.container div.boxCon {
    margin: 0 auto 2% auto;
    width: 80%;
    height: 30vw;
    max-height: 35rem;
    display: grid;
    grid-template-columns: 1fr;

}

div.container div.boxCon div.theBox{
    height: 100%;
    width: 30%;
    background-color: black;
    border-color: gray;
    border: 0.5vw solid rgb(82, 82, 82);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    transition-duration: 0.3s;
    grid-row-start: 1;
    grid-column-start: 1;
}

div#box1 {order: 1; transform: translateX(0%);}
div#box2 {order: 2; transform: translateX(117%); background-color: green;}
div#box3 {order: 3; transform: translateX(234%);} 

div.btnCon {
    margin: auto;
}

button {
    width: 15%;
    height: 8%;
    font-size: 2vw;
    border: 2px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shuffle {
    margin: 0 6vw 0 0;
}

#restart {
    margin: 0 0 0 6vw;
}

#WinLose {
    height: 10vw;
    margin: auto;
    border: 2px solid black;
    opacity: 0;
    font-size: 8vw;
    text-align: center;
    background-color: #dddddd;
}

.transition {
    transition-duration: 1s;
    transform: translateY(30rem);
    transition-timing-function: cubic-bezier(.54,-0.57,1,.7);
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 4s;
    animation-fill-mode: forwards;
    transform: translateY(-270%);
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
