

html {
    font-size: 62.5%;
}

body {
    background-color: #dddddd;
    margin: 0rem;
    padding: 0rem;
    display: grid;
}

#theTitle {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 8vw;
}

p {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2vw;
}

#box1, #box2, #box3 {
    height: 20vw;
    width: 23vw;
    background-color: black;
    border-color: gray;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border: 0.5vw solid rgb(82, 82, 82);
    transform: translateX(0%);
    flex-direction: row;
    transition-duration: 0.3s;
    order: 1;
}

#box2 {
    background-color: green;
    transform: translateX(137.5%);
    order: 2;
}

#box3 {
    transform: translateX(275%);
    order: 3;
}

.container {
    margin: 2rem auto 1rem auto;
    height: 22vw;
    width: 90vw;
}

button {
    width: 10vw;
    height: 4vw;
    font-size: 2vw;
    margin: auto;
    border: 2px solid black;
}

#restart {
    margin: 0rem 0rem 0rem 5rem;
}

#invis {
    margin: 0rem 5rem 0rem 0rem;
    opacity: 0;
}

.btncontainer {
    margin: 0px auto 1rem auto;
}



output {
    margin: 10px auto;
    border: 2px solid black;
    opacity: 0;
    font-size: 80px;
}

.transition {
    transition-duration: 1s;
    transform: translateY(30rem);
    transition-timing-function: cubic-bezier(.54,-0.57,1,.7);
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
